.success-tab {
  position: absolute;
  text-transform: capitalize;
  width: 100%;
  left: 100%;
  background: linear-gradient(90deg, rgb(245, 247, 245), rgb(250, 250, 250))
      right bottom / 0px 3px no-repeat,
    linear-gradient(90deg, rgb(41, 38, 38), rgb(41, 38, 38)) left bottom / 100%
      100% no-repeat;
  padding: 0.5em;
  opacity: 0;
  transition: background-size 2s ease-in-out, left 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.shop-success-title {
  margin-left: 1em;
  color: rgb(199, 187, 187);
}
.success-tab-check {
  font-weight: bold;
  color: whitesmoke;
  margin-left: 5px;
  word-spacing: 5px;
  font-size: 15px;
}
.noift-tab-navbar {
  top: 0;
  left: 0;
  background-size: 100% 3px, 100% 100%;
  opacity: 1;
}
